<% if @event && @event.errors.any? %>
  <div id="error">
    <h3>Uh oh, it looks like you tried to go back to the future.</h3>
    <ul>
      <% @event.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section id="review_form">
  <form id="review_text_area" method="post" action="/review/new">
    <div class="form_fields">
      <label>Artist (e.g. New Order)</label><br>
      <input type="text" name="artist" value="<%= @artist.name if @artist %>" required>
    </div>
    <div class="form_fields">
      <label>City/Event (e.g. Vancouver,<br> Squamish Valley Music Festival)</label><br>
      <input type="text" name="city_name" required>
    </div>
    <div class="form_fields">
      <label>Date</label><br>
      <input type="date" name="date" required>
    </div>
    <div class="form_fields">
      <label>Review</label><br>
      <textarea type="text" name="review" form="review_text_area" required></textarea>
    </div>
      <input class="btn btn-primary" type="submit" name="submit" value="Post it!" >
    </form>
  </section>
