<h3>New review for #Artist, #Date, #City/Event</h3>

<label>Artist</label>
<input type="text" name="artist">
<label>Date</label>
<input type="date" name="date">
<label>City/Event</label>
<input type="text" name="city_event">
<input type="submit" name="submit" value="Submit">