
<section id="review_form">
  <form method="post" action="/event/review/new">
    <div class="form_fields">
      <label>Artist</label><br>
      <input type="text" name="artist" required>
    </div>
    <div class="form_fields">
      <label>Event/City</label></br>
      <input type="text" name="city_name" required>
    </div>
    <div class="form_fields">
      <label>Date</label><br>
      <input type="date" name="date" required>
    </div>
    <div class="form_fields">
      <label>Review</label><br>
      <input type="text" name="review" required>
    </div>  
      <input type="submit" name="submit" value="Post it!" >
    </form>
  </section>