@mixin globalfont {
  font-family: 'Gloria Hallelujah', cursive;
}

nav {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(186,71,100, 1);
  text-align: center;
  z-index: 100;
  #nav-title{
    position: relative;
    display: inline-block; 
    margin: 0 auto;
    color: rgba(255,255,255, 0.75);
    margin-top: 15px;


  }
  #nav-title:hover {
    color: rgba(255,255,255, 1);
    text-decoration: none; 
  }

  button {
    position: absolute;
    top: 15px;
    right: 50px;
  }

  p {
    position: absolute;
    top: 15px;
    right: 140px;
    font-size: 1.1em;

  }
  div {
    clear:both;
    height: 1px;
    width: 100%;
  }
}

