nav {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #ba4764;
  text-align: center;
  z-index: 100; }
  nav #nav-title {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 15px; }
  nav #nav-title:hover {
    color: white;
    text-decoration: none; }
  nav button {
    position: absolute;
    top: 15px;
    right: 50px; }
  nav p {
    position: absolute;
    top: 15px;
    right: 140px;
    font-size: 1.1em; }
  nav div {
    clear: both;
    height: 1px;
    width: 100%; }
