@media screen and (min-width: 1135px) {
  nav p {
    display: block;
  }
}

@media screen and (max-width: 1134px) {
  nav p {
    display: none;
  }
}


@mixin globalfont {
  font-family: 'Gloria Hallelujah', cursive;
}

nav {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(186,71,100, 1);
  text-align: center;
  z-index: 100;
  #nav-title{
    position: relative;
    display: inline-block; 
    margin: 0 auto;
    color: rgba(255,255,255, 0.75);
    margin-top: 15px;


  }
  #nav-title:hover {
    color: rgba(255,255,255, 1);
    text-decoration: none; 
  }

  #insta_logout {
    position: absolute;
    padding-left: 15px;
    top: 15px;
    right: 30px;
  }

  #login_nav {
    position: absolute;
    top: 15px;
    right: 30px;
  }

  p {
    position: absolute;
    top: 17px;
    right: 120px;
    font-size: 1.2em;
    color: rgba(255,255,255,1)

  }

  #artist_search {
    position: absolute;
    top: 15px;
    left: 30px;
    width: 220px;
    input {
      position: relative;
      display: inline-block;
      height: 32px;
      padding-left: 10px;
      background-color: rgba(255,255,255, 0.75);
      border: none;
      width: 182px;
      border-radius: 4px;
      line-height: normal;
    }
    #search_button {
      position: relative;
      display: inline-block;
      height: 32px;
      width: 32px;
      vertical-align: top;
      background-color: #3f729b; 
      border: 1px solid transparent;
      border-radius: 4px;
      color: white;
      border-color: rgba(0,0,0,0.2)
    }

    #search_button:hover {
      background-color: #335d7e;
    }

  }
}

