nav {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #ba4764;
  text-align: center;
  z-index: 100; }
  nav #nav-title {
    position: relative;
    display: block;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 10px; }
  nav #nav-title:hover {
    color: white;
    text-decoration: none; }

#review_form {
  position: relative;
  margin: 5% auto;
  padding: 20px;
  width: 33%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 30px; }
  #review_form form {
    margin: 0 auto;
    text-align: center; }
    #review_form form .form_fields {
      position: relative;
      display: block;
      margin: 10px auto;
      color: black; }
      #review_form form .form_fields label {
        color: rgba(255, 255, 255, 0.9);
        font-size: 1.1em; }
      #review_form form .form_fields input {
        padding: 5px;
        width: 100%;
        text-align: center; }
