@media screen and (min-width: 400px) {
  #review_form {
    width: 450px; } }
@media screen and (max-width: 400px) and (min-width: 100px) {
  #review_form {
    width: 100%; } }
#error {
  position: relative;
  background-color: rgba(255, 13, 20, 0.5);
  height: auto;
  width: 450px;
  margin: 100px auto;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center; }
  #error h3 {
    padding: 20px 20px 0px 20px;
    margin-bottom: 0px; }
  #error ul {
    position: relative;
    width: 90%;
    padding: 20px;
    margin-top: 0px;
    text-align: left;
    list-style-position: inside;
    font-size: 1.3em; }

#review_form {
  position: relative;
  margin: 100px auto;
  padding: 20px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 30px; }
  #review_form form {
    margin: 0 auto;
    text-align: center; }
    #review_form form .form_fields {
      position: relative;
      display: block;
      margin: 10px auto;
      color: black; }
      #review_form form .form_fields label {
        color: rgba(255, 255, 255, 0.9);
        font-size: 1.4em;
        margin: 10px 0px 15px 0px; }
      #review_form form .form_fields input {
        padding: 5px;
        width: 100%;
        font-size: 1.2em;
        text-align: center;
        font-family: 'helvetica neue';
        background-color: 255, 255, 255, 0.85; }
      #review_form form .form_fields textarea {
        height: 125px;
        width: 100%;
        font-size: 1.2em;
        font-family: 'helvetica neue';
        resize: none; }
