<div id="not-found-bg"></div>
<div id="not-found-cover"></div>

<section id="advisory">
  <header>Uh oh, it looks like your favourite band didn't show up.</header>
  <p>Try adding them by submitting a review.</p>
  <a href="/review/new" id="new-review" class="btn btn-social btn-lg btn-instagram" role="button">Write a review >></a>
</section>
