<div id="not-found-bg">
</div>
<div id="not-found-cover">

</div>

<section id="advisory">
  <header>Uh oh...we've got a no show</header>
  <p>Looks like this band doesn't exist...</p>
  <p>Try adding them in a review</p>
  <a href="review/new" id="new-review" class="btn btn-social btn-lg btn-instagram" role="button">Write a review >></a>

</section>
