<div class="jumbotron">
  <h1>Last I Saw</h1>
  <p>
    (Valuable) concert reviews by concertgoers (well, maybe a few by full-time music bloggers).
  </p>
  <p>
    <a href="/oauth/connect"><img src="http://i.imgur.com/Y8Sl7Ks.png"></a>
    <a href="/event/review/new" class="btn btn-primary btn-sm" role="button">Write a review</a>
  </p>
</div>

<% 3.times do |i| %>
  <div>
    <img src="<%= @tags[i].images.standard_resolution.url %>">
  </div>
<% end %>
